Repository chocolateplatform/unity-universal-sample-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: plugin, upload_plugin

.gitlab-ci.yml:

stages:
  - build
  - upload
  - publish

before_script:
  - ruby -v
  
plugin:
  stage: build
  script:
    - ruby scripts/build_unity_package.rb
  artifacts:
    paths:
      - ChocolatePlatformAds.unitypackage
  only:
    refs:
      - master
    changes:
      - SampleApp/**/*

upload_plugin:
  stage: upload
  before_script:
    - apt-get update
    - export DEBIAN_FRONTEND=noninteractive
    - apt-get install -yq zip unzip
    - zip -v
    - apt-get install -yq awscli
    - aws --v
  script:
    - ruby scripts/upload_unity_package.rb
  only:
    refs:
      - master
    changes:
      - scripts/release_spec.json

plugin running limited to mac
  .gitlab-ci.yml
Due: none

unitypackage destination location updated in script
  .gitlab-ci.yml
  scripts/build_unity_package.rb
Due: none

upload script
  .gitlab-ci.yml
  scripts/release_spec.json
  scripts/upload_unity_package.rb
  scripts/versions.json
Due: upload_plugin

versions file ref in upload script corrected
  scripts/upload_unity_package.rb
Due: none

versions updated: will upload
  scripts/versions.json
Due: none

upload script bug fixed
  scripts/upload_unity_package.rb
Due: none

proper name for file, credentials for upload
  scripts/upload_unity_package.rb
Due: none

shortened version tag
  scripts/upload_unity_package.rb
Due: none

#if UNITY_ANDROID and #if UNITY_IOS instead of runtime platform checks
  SampleApp/Assets/Scripts/ChocolateUnityBridge.cs
  SampleApp/Assets/Scripts/VdopiaAndroidListener.cs
Due: plugin

chocolate mediation package -- puts in own folder
  SampleApp/Assets/App/Main.cs
  SampleApp/Assets/ChocolateMediation.meta
  SampleApp/Assets/ChocolateMediation/ChocolateUnityBridge.cs
  SampleApp/Assets/ChocolateMediation/ChocolateUnityBridge.cs.meta
  SampleApp/Assets/ChocolateMediation/Editor.meta
  SampleApp/Assets/ChocolateMediation/Editor/ChocolateUnityIOSBuildHelper.cs
  SampleApp/Assets/ChocolateMediation/Editor/ChocolateUnityIOSBuildHelper.cs.meta
  SampleApp/Assets/ChocolateMediation/Editor/open_pods.command
  SampleApp/Assets/ChocolateMediation/Editor/open_pods.command.meta
  SampleApp/Assets/ChocolateMediation/Editor/pods.command
  SampleApp/Assets/ChocolateMediation/Editor/pods.command.meta
  SampleApp/Assets/ChocolateMediation/VdopiaAndroidListener.cs
  SampleApp/Assets/ChocolateMediation/VdopiaAndroidListener.cs.meta
  SampleApp/Packages/manifest.json
  SampleApp/ProjectSettings/ProjectVersion.txt
  SampleApp/ProjectSettings/XRSettings.asset
  scripts/build_unity_package.rb
Due: plugin

update to use version 3 of Chocolate SDK
  SampleApp/Assets/App/Main.cs
  SampleApp/Assets/ChocolateMediation/ChocolateUnityBridge.cs
  SampleApp/Assets/ChocolateMediation/Editor/ChocolateUnityIOSBuildHelper.cs
  SampleApp/Assets/ChocolateMediation/VdopiaAndroidListener.cs
  SampleApp/Assets/Editor.meta
  SampleApp/Assets/Plugins/Android/com.android.support.support-annotations-27.1.1.jar.meta
  SampleApp/Assets/Plugins/iOS/ChocolateUnityBridge.m
  SampleApp/Assets/Plugins/iOS/ChocolateUnityBridge.m.meta
  SampleApp/Assets/Scripts.meta
  SampleApp/Podfile
  SampleApp/ProjectSettings/GraphicsSettings.asset
Due: plugin

update to use newest versios of ChocolateSDK, UnityAds SDK
  scripts/versions.json
Due: none

ci scheme changed
  .gitlab-ci.yml
  scripts/versions.json
Due: none

another ci update
  .gitlab-ci.yml
  scripts/versions.json
Due: none
